@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0 ;
    padding: 0;
}
#grilla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:33% 33% 33% ;
}
header{
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
main{ grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
footer{
    display: flex;
    height: 20vh;
    background-color: black;
     grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.banner {
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 0em 0 4em;
    height: 73vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 9vh;
    background-color: #ffffff;
    margin-top: 15px;
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin-right: 2vw;
}


/*---------------------------------------------------------*/
.welcome{
    height: 75vh;
    display: grid;
    grid-template-columns:100% ;
    grid-template-rows:100%;
}
.cards {
 grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1 ;
  grid-row-end: 2;
}
.cards2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2 ;
    grid-row-end: 3;
}
  .cards img {
    margin: 10px;
    /* border: 3px solid #000; */
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
  }

.services{
    height: 75vh;
    background-color: darkgoldenrod;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
}
