@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.banner {
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 0em 0 4em;
    height: 80vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
    background-color: #ffffff;
    margin-top: 15px;
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}


/*---------------------------------------------------------*/

.item1 {
    color: #2f2f2f;
    font-size: 4.5em;
    font-weight: 700;
    flex-grow: 2;
    font-family: 'Raleway', sans-serif;
}

.item2 {
    color: #2f2f2f;
    font-weight: 300;
    font-size: 4em;
    flex-grow: 2;
}

.item3 {
    color: #2f2f2f !important;
    font-size: 1em;

    text-decoration: none;
    margin-left: 2vw;

    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    flex-grow: 2;
    
}

.item4 {
    color: #2f2f2f !important;
    font-size: 1em;

    text-decoration: none;
    padding: 0;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    flex-grow: 2;
    margin-left: 2vw;
}

.item5 {
    color: #2f2f2f !important;
    font-size: 1em;
    margin: 0;
    text-decoration: none;

    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    flex-grow: 1;
    margin-left: 2vw;
}

.item6 {
    color: #2f2f2f !important;
    font-size: 1em;
    
    text-decoration: none;
    padding: 0;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    flex-grow: 1;
    margin-left: 2vw;
}

.imagen {
    width: 100vw;
    z-index: 100;
    position: absolute;
    display: flex;
}

.imagen img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    z-index: 100;
    bottom: 130px;
    
}



h2{
    background-color: #ffffff;
    text-align: center;
    font-size: 3.8em;
    padding-top: 7vh;
    margin-left: 8vw;
    display: inline-block;
}
.caja {
    background-color: #ffffff;
    display: flex;
    height: 69vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: ;
}
h1 {
    margin-left: 20vw;
 
}
.container1 {
    display: flex;
    width: 300px;
    height: 300px;
   margin-left: 120px;

 
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1vw;
}
.container3 {
    width: 600px;
    margin-right: 1vw;
    font-size: 10px
    
    

.container3 span{
   font-size: medium;
 
}
.container3  .uno{
    font-size: 2em;
    font-weight: bolder;
   
}
span{
    padding:10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
section #section {
    width: 100vw;
    height: 70vh;
    background-color: darkorange;
    position: absolute;
    top: 139vh;
}

footer {
    height: 45vh;
    background-color: rgb(20, 20, 19);
    
}

