@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
}

header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

main {
    height: 150vh;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer {
    display: flex;
    height: 20vh;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#nav {
    display: flex;
    background-color: rgb(247, 247, 241);
    justify-content: space-around;
    height: 15vh;
}

.banner {
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 0em 0 4em;
    height: 73vh;
}

.item1 {
    color: rgb(22, 22, 18);
    font-size: 3.5em;
    font-weight: bol;
    padding: 10px;
    margin-left: 200px;
}

.item2 {
    color: rgb(26, 26, 20);
    font-family: monserrat;
    font-size: 4.5em;
    font-weight: bolder;
    padding: 10px;
    margin-left: -140px;
}

.item3 {
    display: flex;
    list-style: none;
    padding: 2vh;
}

.item3 li a {
    text-decoration: none;
    padding: 1vw;
}

.li {
    padding: 10px;
}

.welcome {
    height: 85vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    flex-direction: column;
}

.welcome h2 {
    font-size: 3.7em;
    margin: 3vw;
    /* background-color: rgb(197, 197, 214); */
}

.cards {
    margin-left: 2vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cards2 {
    margin-top: 21vh;
    padding-left: -29vw;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 80%;
}

.cards img {
    margin: 10px;
    /* border: 3px solid #000; */
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 23vw;
}

.services {
    height: 101vh;
    background-color: darkgoldenrod;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
}
/*..............................................*/
/*PRIMER MEDIA
/*--------------MEDIA @ QUERY...................*/

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(170, 228, 247);
    }
    header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 7vh;
    }
#nav {
    display: flex;
    background-color: rgb(247, 247, 241);
    justify-content: center;
    height: 11vh;
    padding-bottom: 1vh;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: ;
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: contain;
    padding: 0em 0 14em;
    height: 2vh;
}

.item1 {
    color: rgb(22, 22, 18);
    font-size: 1em;
    font-weight: bol;
    font-family: monospace;
    padding: 10px;
    margin-left: 99px;
}

.item2 {
    color: rgb(26, 26, 20);
    font-family: monserrat;
    font-size: 2em;
    font-weight: bolder;
    padding: 10px;
    margin-left: -140px;
    padding-top: 40px;
}

.item3 {
    display: flex;
    list-style: none;
    padding: 2vh;
}

.item3 li a {
    text-decoration: none;
    padding: 1vw;
}

.li {
    padding: 10px;
}
.welcome {
    background-color: brown;
    height: 85vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:50% 50%;
    flex-direction: column;
    margin-top: 0px;
}

.welcome h2 {
    font-size: 2em;
    margin: 1vw;
    /* background-color: rgb(197, 197, 214); */
}
.cards {
    margin-left: 2vw;
    margin-top: 1vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cards2 {
    margin-top: 1vh;
   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width:100%;
}

.cards img {
    margin: 10px;
    /* border: 3px solid #000; */
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 40vw;
}
  }
  /*..............................................*/
/*SEGUNDA MEDIA
/*--------------MEDIA @ QUERY...................*/

@media only screen and (min-width: 601px) {
    body {
      background-color: rgb(194, 230, 173);
    }
    
#nav {
    display: flex;
    background-color: rgb(247, 247, 241);
    justify-content: center;
    height: 11vh;
    padding-bottom: 1vh;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: ;
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: contain;
    padding: 0em 0 18em;
    height: 33vh;
}

.item1 {
    color: rgb(22, 22, 18);
    font-size: 1em;
    font-weight: bol;
    font-family: monospace;
    padding: 10px;
    margin-left: 99px;
}

.item2 {
    color: rgb(26, 26, 20);
    font-family: monserrat;
    font-size: 2em;
    font-weight: bolder;
    padding: 10px;
    margin-left: -140px;
    padding-top: 40px;
}

.item3 {
    display: flex;
    list-style: none;
    padding: 2vh;
}

.item3 li a {
    text-decoration: none;
    padding: 1vw;
}

.li {
    padding: 10px;
}
  }