@import url(https://fonts.googleapis.com/css?family=Open+Sans);


@import "compass/css3";

 /**************************************************/
/* INSTRUCTIONS: DRAG OVER THE IMAGE TO TWIST IT */
/**************************************************/
/*based original css on simple cube @  http://dabblet.com/gist/4576285 then just experiemented */
body {
  	perspective: 11200px;
	background-color:#333;
}
.cube {
  position: absolute;
 // width: 30px;
 // height: 8px;
  list-style: none;

}
.face {
//  opacity:0.9;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 350px;
 // padding: 24px;
  width: 320px;
  height: 48px;
  background: lightblue; 
  
/* cool image from http://thepatternlibrary.com/#escape-flight */
//background:url("https://i.imgur.com/Gp6NAyA.png") -10px -10px;
  background:url("https://res.cloudinary.com/dbie43oob/image/upload/v1473334800/Gp6NAyA_asqaax.png") -10px -10px;
background-repeat: no-repeat;
backface-visibility: hidden;
}
a{
 color:#ccc; 
}