@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:600px) {
    body {
        background-color: rgb(248, 222, 156) !important;
        transition: all .8s ease;
    }
   

    .item1 {
        color: rgb(22, 22, 18);
       
     
    }
    .item2 {
        color: rgb(26, 26, 20);
      
      
     
    }
    .item3 {
     
      
      
    }
    #nav {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: flex-end;
      height: 30vh;
      background-color: rgb(247, 247, 241);
      margin-bottom: 2vh;
  }


    a {
        background: #DDD;
        color: rgb(134, 111, 6);
        padding: 2px;
        border: 1px solid #AAA;
    }
    a:hover {
        background: #FFF;
        color: #666;
        padding: 8px 14px;
        border: 1px solid #888;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
    }
    .li {
        padding: 10px;
    }
    /*.............................................................*/
    header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    main {
        height: 125vh;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    footer {
        display: flex;
        height: 20vh;
        background-color: black;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        margin-top: 70px;
    }
 
    
 
    #grilla {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 33vw 33vw 33vw;
        grid-template-rows: auto auto auto auto;
        justify-content: space-around;
        align-items: center;
    }
    
 
 
    footer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: black;
        color: cornsilk;
        height: 30vh;
        background: rgb(34, 34, 33);
        background: linear-gradient(90deg, rgb(247, 245, 243) 0%, rgba(48, 45, 40, 0.995) 50%, rgb(43, 36, 25) 100%);
    }
  
    svg {
    
     
      
        display: block;
        margin: 10vmin auto;
    }
    svg{
      background:url('../images/1.jpg');
      background-size:cover;
      width:80vw; height:auto;
      display:block;
      margin:30vmin auto;
    }
    
    text {
        font-size: 10px;
        transition: font-size .4s ease-out;
        font-weight: 900;
        font-family: arial;
    }
    svg:hover text {
        transition: font-size .4s ease-in;
        font-size: 300px;
    }
}

/*-----------------------------------------------*/

svg{
  background:url('../images/1.jpg');
  background-size:cover;
  width:80vw; height:auto;
  display:block;
  margin:30vmin auto;
}

