

#nav {
    display: flex;
    background-color: rgb(247, 247, 241);
    justify-content: space-around;
    height: 15vh;
}

.banner {
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 0em 0 4em;
    height: 53vh;
}


.item3 {
    display: flex;
    list-style: none;
    padding: 2vh;
}

  a {
    text-decoration: none;
    padding: 1vw;
}

.li {
    padding: 10px;
}












#fotos {
    width: 300px;
    filter: contrast(1.8) brightness(1.5) grayscale(1)
}





#fotos {
    transform: rotate(15deg);
   
  
}

#fotos:hover {
    /*  transform: rotate(15deg );*/
    transform: translate(22px 50px);
}

footer {
    height: 30vh;
    background: rgb(34, 34, 33);
    background: linear-gradient(90deg, rgb(247, 245, 243) 0%, rgba(48, 45, 40, 0.995) 50%, rgb(43, 36, 25) 100%);
}